<html>
  <head>
    <title>ShapeEditor</title>
    <style type="text/css">
      div#map {
        width:  600px;
        height: 400px;
        border: 1px solid #ccc;
      }
    </style>
    <link rel="stylesheet"
          href="http://openlayers.org/en/v3.10.1/css/ol.css"
          type="text/css">

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"
            type="text/javascript">
    </script>

    <script src="http://openlayers.org/en/v3.10.1/build/ol.js"
            type="text/javascript">
    </script>

    <script type="text/javascript">
      function init() {
        var url_template = '{{ tms_url }}/1.0/{{ shapefile.id }}/{z}/{x}/{y}.png';

        var projection = ol.proj.get('EPSG:4326');

        var source = new ol.source.XYZ({
          crossOrigin: 'null',
          wrapX: false,
          projection: projection,
          tileUrlFunction: function(tileCoord) {
            var z = tileCoord[0] - 1;
            var x = tileCoord[1];
            var y = Math.pow(2, z) + tileCoord[2];
            return url_template.replace('{z}', z.toString())
                               .replace('{x}', x.toString())
                               .replace('{y}', y.toString());
          },
        });

        var layer = new ol.layer.Tile({source: source,
                                       projection: projection,
                                      });

        var view = new ol.View({center: [0, 0],
                                zoom: 1,
                                projection: projection,
                                });

        var map = new ol.Map({target: "map",
                              layers: [layer],
                              view: view});

        map.on("singleclick", function(e) {
          var request = jQuery.ajax({
                url     : "/find_feature",
                data    : {shapefile_id : {{ shapefile.id }},
                           latitude     : e.coordinate[1],
                           longitude    : e.coordinate[0]},
                success : function(response) {
                            if (response != "") {
                              window.location.href = response;
                            }
                          }
          });
        });
      }
    </script>
  </head>
  <body onload="init()">
    <h1>Edit Shapefile</h1>
    <b>Please choose a feature to edit</b>
    <br/>
    <div id="map" class="map"></div>
    <br/>
    <div style="margin-left:20px">
      <button type="button"
              onClick='window.location="{{ add_feature_url }}";'>
        Add Feature
      </button>
      <button type="button"
              onClick='window.location="/";'>
        Cancel
      </button>
    </div>
  </body>
</html>
