{% extends "base.html" %}

{% block title %}职位回执页{% endblock %}

{% block body %}

	<div id="wrap">
        <h2>职位回执：</h2>
        <form method="post" action="/job/feedback" class="form">
            <input type="hidden" name="job_id" value="{{ job_id }}">
            <input type="hidden" name="uid" value="{{ uid }}">
            <div class="form-group"><label >回执内容：</label>
              <input type="text" name="content" placeholder="Content" value="" class="form-control">
            </div>
            <button type="submit" class="btn btn-success" >发送回执</button>
        </form>
    </div>

{% endblock %}